# 1. SERVER-ONLY SECRETS
# DATABASE_URL="postgresql://user:password@localhost:5432/mydb"

# 2. PUBLIC VARIABLES
NEXT_PUBLIC_IS_MINIAPP=true # DYNAMIC BUILD
NEXT_PUBLIC_ENABLE_ERUDA=true # used only if NEXT_PUBLIC_IS_MINIAPP=true